* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; /*tirar as bolinhas das listas*/
}

a {
    text-decoration: none; /*tirar a cor azul de links*/
}